.home-widget {
  transform: opacity 500ms;

  &.loading {
    opacity: 0.25;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;

  .opening-hours {
    border-radius: 10px;
    background-color: rgb(251,108,107);
    height: 120px;
    width: 96%;
    margin: 0 5px 10px 10px;
    text-align: center;
    color: #fff;

    h2 {
      padding: 15px 0 0 0;
    }
  }
}

.menu {
  display: flex;

  a {
    color: #fff;
    text-decoration: none;
  }

  .image {
    position: relative;
  }

  .menu-description {
    position: absolute;
    margin: 5px 0 0 65px;
  }

  .home-img {
    border-radius: 10px;
    object-fit: cover;
    width: 280px;
    height: 120px;
    margin: 0 5px 0 10px;
    display: block;
  }

  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }

  .image__overlay:hover {
    opacity: 1;
  }

  .image__overlay:hover > * {
    transform: translateY(0);
  }

  .image__description {
    margin-top: 60px;
  }
  
  .image__title {
    font-size: 15px;
    margin: 0 0 30px 0;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
